body {
  background-color: #f4f4f9;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.container {
  width: 400px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1, h2, h3, h4 {
  color: #333;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 20px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.form-control {
  margin-bottom: 20px;
}

.form-control input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

.inc-exp-container {
  display: flex;
  justify-content: space-between;
  background: #f8f9fa;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.inc-exp-container div {
  text-align: center;
}

.money.plus {
  color: #2ecc71;
  font-weight: bold;
}

.money.minus {
  color: #e74c3c;
  font-weight: bold;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f9;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-left: 5px solid;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.list li.plus {
  border-color: #2ecc71;
}

.list li.minus {
  border-color: #e74c3c;
}

.list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-btn {
  background: none;
  border: none;
  color: #e74c3c;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete-btn:hover {
  color: #c0392b;
}
